<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} Home väga äge page onju {%endblock%}</title>
</head>
<body>
    {% include "partials/nav.njk"%}
    {% block content %}{% endblock %}

</body>
</html>