{%extends "partials/layout.njk"%}
 {% block title%} Form
 {% endblock %}
 {% block content %}
<h1>Form :)</h1>
<form>
    <p>
    <label for="fname">First name</label>
    <input id="fname" type="text" placeholder="First name :)">
</p>
<p>
    <label for="lname">Last name</label>
    <input id="lname" type="text" placeholder="Last name :)">
</p>
<p>
    <label for="age">Age</label>
    <input id="age" type="number" placeholder="Age">
    </p>
  
    <input type="submit" value="Send">
   
    
</form>
 {% endblock %}