{%extends "partials/layout.njk"%}
 {% block title%} Form
 {% endblock %}
 {% block content %}
<h1>Form :)</h1>
<form>
    <p>
    <label for="fname">First name</label><br>
    <input id="fname" type="text" placeholder="First name :)" name="fname">
</p>
<p>
    <label for="lname">Last name</label><br>
    <input id="lname" type="text" placeholder="Last name :)" name="lname">
</p>
<p>
    <label for="age">Age</label><br>
    <input id="age" type="number" min="0" max="150" step="1" placeholder="Age" name="age">
    </p>
  
    <input type="submit" value="Send">
   
    
</form>
 {% endblock %}